<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Blun.ConfigurationManager" version="1.0.5686.2674" targetFramework="net45" />
  <package id="DevExpressMvvm" version="15.2.5.0" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.2.3.0" targetFramework="net45" />
  <package id="MahApps.Metro.Resources" version="0.4.0.0" targetFramework="net45" />
  <package id="Microsoft.Office.Interop.Excel" version="14.0.0.1" targetFramework="net45" />
  <package id="Microsoft.Practices.Phone.Adapters.Source" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.SqlServer.ConnectionInfo.dll" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Management.Sdk.Sfc.dll" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Smo.dll" version="1.0.1" targetFramework="net45" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net45" />
  <package id="Toolkit.WPF" version="1.0.5752.30721" targetFramework="net45" />
</packages>